
<%= render "shared/menu" %>

<br />
<h1>Simulations</h1>
<br />

<table>
  <tr>
    <th>Simulation Type</th>
    <th>Voting method</th>
    <th>Population size</th>
    <th>Number of Repetitions Per Sample Size</th>
    <th>Minimum Sample Size</th>
    <th>Maximum Sample Size</th>
    <th>Size of Interval Between Sample Sizes</th>
    <th>Alternatives Set</th>
    <th>Distribution of Preference Orderings</th>
    <th class="link"></th>
    <th class="link"></th>
  </tr>

  <tbody>
<% @simulations.each do |simulation| %>
  <tr>
    <td><% inverted_modes = simulation.modes.invert %>
        <%=h inverted_modes[simulation.mode] %></td>
    <td><%=h simulation.voting_method %></td>
    <td><%=h simulation.population_size %></td>
    <td><%=h simulation.repetitions %></td>
    <td><%=h simulation.sample_size_minimum %></td>
    <td><%=h simulation.sample_size_maximum %></td>
    <td><%=h simulation.sample_size_increment %></td>
    <td><%=h simulation.alternatives_set_name %></td>
    <td><%=h simulation.distribution_type %></td>
    <td class="link"><%= link_to 'Run (pseudo random)', run_simulation_path(simulation) %></td>
    <td class="link">Run (true random)<%#= link_to 'Run (true random)', run_true_random_simulation_path(simulation) %></td>
    <td class="link"><%= link_to 'Delete', simulation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />
<br />

<%= link_to 'Create New simulation', new_simulation_path %>
