<h1>New simulation</h1>

<% form_for(@simulation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :assertion_id %><br />
    <%= f.text_field :assertion_identifier %>
  </p>
  <p>
    <%= f.label :simulation_type %><br />
    <%= f.select(:mode, @simulation.available_simulation_modes) %>
  </p>
  <p>
    <%= f.label :voting_method %><br />
    <%= f.select(:voting_method, @simulation.available_voting_methods) %>
  </p>
  <p>
    <%= f.label :population_size %><br />
    <%= f.text_field :population_size %>
  </p>
  <p>
    <%= f.label :number_of_repetitions_per_sample_size %><br />
    <%= f.text_field :repetitions %>
  </p>
  <p>
    <%= f.label :sample_size_minimum %><br />
    <%= f.text_field :sample_size_minimum %>
  </p>
  <p>
    <%= f.label :sample_size_maximum %><br />
    <%= f.text_field :sample_size_maximum %>
  </p>
  <p>
    <%= f.label :size_of_each_step_in_sample_size_range %><br />
    <%= f.text_field :sample_size_increment %>
  </p>
  <p>
    <%= f.label :set_of_alternatives %><br />
    <%= f.collection_select(:alternatives_set_id, AlternativesSet.all, :id, :description) %>
  </p>
  <p>
    <%= f.label :distribution_of_preference_orderings %><br />
    <%= f.select(:distribution_type, @simulation.available_distribution_types) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', simulations_path %>
