
<%= render "shared/menu" %>

<br />
<h1>Sets of Alternatives</h1>
<br />

<table>
  <tr>
    <th>Description</th>
    <th>Alternatives</th>
    <th class="link"></th>
    <th class="link"></th>
  </tr>

<% @alternatives_sets.each do |alternatives_set| %>
  <tr>
    <td><%=h alternatives_set.description %></td>
    <td> 
      <% alternatives_set.alternatives.each do |alternative| %>
        <%=h alternative.alternative %><% unless alternative == alternatives_set.alternatives.last %>,<% end %>
      <% end %>
    </td>
    <td class="link"><%= link_to 'Edit', edit_alternatives_set_path(alternatives_set) %></td>
    <td class="link"><%= link_to 'Delete', alternatives_set, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<br />

<%= link_to 'Build New Set of Alternatives', new_alternatives_set_path %>
