<h1>New alternatives_set</h1>

<% form_for(@alternatives_set) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <div id="alternatives">
    <%= render :partial => 'alternative', :collection => @alternatives_set.alternatives %>
  </div>
  <p>
    <%= link_to_function("Add an alternative") {|page| page.insert_html :bottom, :alternatives, :partial => 'alternative', :object => Alternative.new} %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', alternatives_sets_path %>
