<h1>Listing alternatives</h1>

<table>
  <tr>
    <th>Alternative</th>
  </tr>

<% @alternatives.each do |alternative| %>
  <tr>
    <td><%=h alternative.alternative %></td>
    <td><%= link_to 'Show', alternative %></td>
    <td><%= link_to 'Edit', edit_alternative_path(alternative) %></td>
    <td><%= link_to 'Destroy', alternative, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New alternative', new_alternative_path %>