
<%= render "shared/menu" %>

<br />
<h1>Alternatives</h1>
<br />

<table>
  <tr>
    <th>Alternative</th>
    <th class="link"></th>
    <th class="link"></th>
  </tr>

<% @alternatives.each do |alternative| %>
  <tr>
    <td><%=h alternative.alternative %></td>
    <td class="link"><%= link_to 'Edit', edit_alternative_path(alternative) %></td>
    <td class="link"><%= link_to 'Delete', alternative, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<br />

<%= link_to 'Add New Alternative to Pool', new_alternative_path %>
